In [1]:
import pandas as pd

In [2]:
datapath="D:/Machine Learning Datasets/Linear Regression/Insurance.csv"

In [3]:
data=pd.read_csv(datapath)
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [5]:
data.shape

(1338, 7)

In [6]:
categorical_columns = ['sex','children', 'smoker', 'region']
df_encode = pd.get_dummies(data = data, prefix = 'OHE', prefix_sep='_',
               columns = categorical_columns,
               drop_first =True,
              dtype='int8')

In [7]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [8]:
data.shape

(1338, 7)

In [9]:
data.head()
df_encode.head()

,age,bmi,charges,OHE_male,OHE_1,OHE_2,OHE_3,OHE_4,OHE_5,OHE_yes,OHE_northwest,OHE_southeast,OHE_southwest
0,19,27.900,16884.92400,0,0,0,0,0,0,1,0,0,1
1,18,33.770,1725.55230,1,1,0,0,0,0,0,0,1,0
2,28,33.000,4449.46200,1,0,0,1,0,0,0,0,1,0
3,33,22.705,21984.47061,1,0,0,0,0,0,0,1,0,0
4,32,28.880,3866.85520,1,0,0,0,0,0,0,1,0,0

In [10]:
# now we will split the data into X and Y where X will be having all the independent variables
# and Y will have dependent variable respectively.

from sklearn.model_selection import train_test_split

X= df_encode.drop('charges',axis=1)
Y= df_encode['charges']
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.5, random_state=42)
X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)
y_train = y_train.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

In [11]:
X.shape[0]
y_train

0       6837.36870
1      12224.35085
2      27346.04207
3      10436.09600
4      34828.65400
          ...
664     4561.18850
665     8582.30230
666    11931.12525
667    46113.51100
668    10214.63600
Name: charges, Length: 669, dtype: float64

In [88]:
#defining our cost function
import numpy as np

def compute_cost(w,b,X,Y):
    m = X.shape[0]
    cost = 0
    for i in range(m):                                
        f_wb_i = np.dot(X[i], w) + b           #(n,)(n,) = scalar (see np.dot)
        cost = cost + (f_wb_i - y[i])**2       #scalar
    cost = cost / (2 * m)                      #scalar    
    return cost

In [89]:
X_train.head()
type(X_train)

pandas.core.frame.DataFrame

In [90]:
# compute gradient descent


def compute_gradient(alpha,X,y,w,b):
    m,n=X.shape
    dj_dw=np.zeros((n,))
    dj_db=0
    for i in range(m):                             
        err = (np.dot(X[i], w) + b) - y[i]   
        for j in range(n):                         
            dj_dw[j] = dj_dw[j] + err * X[i, j]    
        dj_db = dj_db + err                        
    dj_dw = dj_dw / m                                
    dj_db = dj_db / m 
    
    w=(w-alpha)*dj_dw
    b=b-alpha*dj_db
    print("from gradient w,b {}{} ".format(w,b))
    return w,b

In [104]:

def fit_line():
    
    b=0
    alpha=0.01
    
    i=0
    X=X_train.values
    y=y_train.values
   # Apply logarithmic transformation
    y = np.log1p(y)
    m,n=X.shape
    w=np.zeros((n,))
    convergence=np.zeros((n,))
    while True:
        i+=1
        w,b=compute_gradient(alpha,X,y,w,b)
        cost=compute_cost(w,b,X,y)
        if np.array_equal(w,convergence):
            break
        else:
            convergence=w
        if i%1000==0:
            print(w,b,cost)
#             showLineFit(w,b)
#             plt.pause(1)
#             updatePlot(w,b)
#             plt.show()
    return w,b,cost

In [1]:
w,b,cost=fit_line()

NameError: name 'fit_line' is not defined